/* TODO: Use SASS */
@import "./other.css";

#HumanyCustom-latest-news {
    height: fit-content;
    margin: -4px -18px -4px -18px;
    border-width: 1px;
    padding: 6px 15px 7px;
}

.custom-newspage-modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: 0;
    margin: 30px;
}

.tsPebble {
    font-family: pebble, arial;
}

.arial {
    font-family: arial;
}

.tsPurple {
    color: #990ae3;
}

.cmRed {
    color: #db1b35;
}

.black {
    color: black;
}

.black:hover {
    color: #990ae3;
}

.spanBeforeIcon {
    margin-left: 3px;
}

.newsCountBadge {
    position: relative;
    padding: 4px 8.5px;
    border-radius: 50%;
    background-color: #d31c34;
    /* background-image: linear-gradient(#db1b35, #b83a4b); */
    color: white;
    font-size: 14px;
}

.iconToTextGap {
    margin-right: 8px;
    font-size: 18px;
}

.custom-newspage-modal-header {
    padding: 15px;
    border-bottom: 1px solid #990AE2;
    min-height: 16.42857143px;
    background: #990AE2;
    color: white;
}

.custom-newspage-modal-body {
    min-height: 200px;
    height: calc(100vh - 120px);
}

.custom-newspage-modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.custom-newspage-modal-wrapper {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.custom-newspage-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.latestNewsItem {
    height: fit-content;
    display: flex;
    cursor: pointer;
    padding: 6px 0px 7px;
}

.HumanyCustom-latest-news-header {
    margin-top: 14px;
}

.HumanyCustom-latest-news-headline {
    margin: 0px 0px 8px 0px;
    font-size: 18px;
    font-weight: bold;
    font-family: pebble, arial;
}

.humany-latest-news-counter {
    text-align: left;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}

.latestNewsItem:hover {
    color: #990ae3;
}

.latestNewsHeadline {
    width: 100%;
}

.latestNewsDate {
    width: fit-content;
    white-space: nowrap;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
}

.newsPage-wrapper {
    width: 100%;
    height: calc(100vh - 120px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.newsSection-wrapper {
    width: calc(100% - 380px);
    float: left;
    height: calc(100vh - 120px);
    overflow: scroll;
    -ms-overflow-style: none;
}

.news-selection-panel {
    margin: 18px 12px 0px 18px;
    width: 344px;
    height: 282px;
    float: left;
    border-style: solid;
    border-color: #E3E3E3;
    border-width: 0px;
    border-radius: 8px;
    background: #f2f2f2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.17);
}

.news-selection-header {
    height: fit-content;
    margin: 16px 0px 16px 20px;
}

.news-selection-subheader {
    height: fit-content;
    margin: 30px 0px 8px 20px;
}

.news-selection-search {
    text-align: center;
    margin: 10px 0px 26px 0px;
}

.news-selection-searchfield {
    width: calc(100% - 32px);
    font-size: 14px;
    border-width: thin;
    text-indent: 20px;
    padding-right: 45px;
}

.news-search-dropdown {
    display: block;
    background-color: #f4f4f4;
    width: calc(344px - 32px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.274);
    z-index: 9999;
    font-size: 14px;
    margin: 5px 16px 0px 16px;
    border-radius: 20px;
    text-align: left;
    padding-left: 20px;
    font-family: arial;
    position: relative;
    top: -17px;
    max-height: 435px;
    overflow: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.news-search-result {
    border-radius: 20px;
    height: fit-content;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}

.news-search-noresult {
    border-radius: 20px;
    height: fit-content;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    cursor: default;
}

.news-search-result-date {
    margin: 0px;
    font-size: 12px;
    color: grey;
}

.news-search-result:hover {
    color: #990ae3;
    cursor: pointer;
}

/* General humany search field styling */
.humany-search-style {
    height: 35px;
    border-style: none;
    color: #555;
    outline: none;
    border-radius: 20px;
    border-color: #f4f4f4;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.274);
}

.humany-search-ts-icon {
    height: 17px;
    margin-left: 280px;
    /* position: absolute; */
    position: relative;
    /* top: 294px; */
    top: -26px;
    pointer-events: all;
    fill: #797777;
}

.humany-delete-ts-icon {
    height: 14px;
    margin-left: 280px;
    /* position: absolute; */
    position: relative;
    /* top: 296px; */
    top: -24px;
    pointer-events: all;
    cursor: pointer;
    fill: #797777;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.humany-delete-ts-icon:hover {
    fill: black;
}

.news-selection-selectors {
    text-align: center;
}

.news-month-selector {
    width: calc(100% - 32px);
    height: 30px;
    outline: none;
    background: white;
}

/* Block wrapper */
.newsblock-01-wrapper {
    max-width: 850px;
    min-width: 450px;
    padding: 12px 20px 12px 20px;
    margin: 20px auto 26px;
    height: fit-content;
    min-height: 100px;
    border-style: solid;
    border-color: #E3E3E3;
    border-width: 0px;
    border-radius: 8px;
    font-family: Arial;
    background: white;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.17);
}

.newsblock-01-wrapper p {
    margin-bottom: 12px;
    font-size: 16px;
}

/* Header area in block */
.newsblock-01-header {
    width: auto;
    height: 70px;
    display: flex;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 34px;
    border-top-left-radius: 34px;
}

.newsblock-01-logo {
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
}

.newsblock-01-svg {
    width: 100%;
    height: 100%;
    padding: 7px;
}

.newsblock-01-logo img {
    margin: 10px auto;
    max-width: 50px;
    max-height: 50px;
}

.newsblock-01-infos {
    position: relative;
    left: 18px;
    top: 12px;
    height: fit-content;
    max-width: 500px;
}

.newsblock-01-headline {
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
}

.news-headline {
    margin: 0px;
    height: fit-content;
    font-family: pebble, arial;
    margin-bottom: 4px;
}

.pebble-purple {
    color: #990AE2;
}

.newsblock-01-date {
    margin: 0px;
    height: fit-content;
    font-size: 16px;
    color: grey;
    font-weight: lighter;
}

.newsblock-01-content img {
    cursor: pointer;
    width: auto !important;
    max-height: 400px;
}

.newsblock-content-headline {
    font-family: pebble, arial;
    margin-top: 18px;
    margin-bottom: 14px;
}

.newsblock-01-photos {
    max-height: 270px;
    overflow: hidden;
    /* display: flex; */
}

.newsblock-01-photos img {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.modal_preview {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.newsModal_content {
    max-width: 90%;
    max-height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.newsModal_close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.newsModal_close:hover {
    color: #cdcdcd;
}

.newsblock-01-refs {
    height: auto;
    margin-top: 24px;
    margin-bottom: 8px;
}

.newsblock-01-refs>a,
.newsblock-01-refs>p>a {
    background-color: #990ae3;
    color: white !important;
    outline: none !important;
    text-decoration: none !important;
    border: none;
    color: #f4f4f4;
    text-decoration: none;
    padding: 6px 14px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 4px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    box-shadow: 0px 1px 2px 0px rgb(194, 194, 194);
    outline: 0;
    /* width: 160px; */
    margin-right: 4px;
    margin-bottom: 5px;
    background-color: #990ae3;
    color: white !important;
    outline: none !important;
    text-decoration: none !important;
}

.newsblock-01-refs a {
    display: inline-table;
    width: fit-content;
}

.newsblock-01-refs h4 {
    margin: 0px;
}

.error-button {
    border: none;
    color: #f4f4f4;
    text-decoration: none;
    padding: 6px 14px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 4px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.274);
    outline: 0;
    /*width: 160px;*/
    margin-right: 4px;
    margin-bottom: 5px;
}

.telia-btn {
    background-color: #990ae3;
    color: white !important;
    outline: none !important;
    text-decoration: none !important;
}

.telia-btn:hover {
    background-color: rgba(107, 7, 156);
    color: white;
    text-decoration: none;
    outline: 0;
}